<h3>Update Product Details</h3>
<%= form_with model: @product do |form| %>
  <input type="hidden" name="project_id" value="1" />
  <%= form.hidden_field :project_id, :value => @project %>
  <%= form.text_field :title, placeholder: "Title", value:  @product.title %>
  <%= form.text_field :price, placeholder: "Price", value:  @product.price %>
  <%= form.text_field :amount, placeholder: "Amount", value:  @product.amount %>
  <%= form.date_field :release_date, placeholder: "Release Date", value:  @product.release_date.strftime('%Y-%m-%d') %>
  <%= form.submit %>
<% end %>