<h2>Products</h2>
<%= link_to(l(:add_new_product), new_product_path(:project_id => @project), :class => 'icon icon-add') %>
<table>
  <tr>
    <th>Title</th>
    <th>Price</th>
    <th>Amount</th>
    <th>Date</th>
    <th>Issue</th>
  </tr>
  <% @products.each do |product| %>
  <tr>
    <td><%= link_to product.title, edit_product_path(product, :project_id => @project) %></td>
    <td><%= product.price %></td>
    <td><%= product.amount %></td>
    <td><%= product.release_date %></td>
    <%unless product.issue.nil? %>
      <td><%= link_to product.issue.subject, issue_path(product) %></td>
    <%end%>
  </tr>
  <% end %>
  </table>
